@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: hsl(206, 65%, 83%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}



.main {
    flex-grow: 1;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 1em;
    max-width: 600px;
    margin: 2vh auto;
    background-color: #5b21b6;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.4);
}

.main h1 {
    text-align: center;
}

.main p {
    text-align: center;
}

#bill-amt {
    height: 5vh;
    border-radius: 10px;
    border: 1.5px solid;
}

#bill-amt:hover {
    cursor: pointer;
}

#cash-given:hover {
    cursor: pointer;
}


#cash-given {
    border-radius: 10px;
    height: 5vh;
    border: 1.5px solid;

}

#check-btn {
    margin: 1em auto;
    padding: .5em;
    width: 5vw;
    border-radius: 10px;
    border: 1.5px solid;
}

#check-btn:hover {
    cursor: pointer;
    background-color: grey;
}

label {
    padding: 1em;
    max-width: 600px;
    margin: auto;
}

table {
    padding: 1em;
    display: none;
    color: black;
    border-radius: 5px;
    height: 25vh;
    border-collapse: collapse;
    margin: auto;
}


th {
    border: 1.5px solid black;
    padding: .5em 1em;
    text-align: center;
    background-color: #059669;
}

td {
    border: 1.5px solid black;
    padding: .5em 1em;
    text-align: center;
    background-color: white;
    font-size: large;
    font-weight: bold;

}

.notes-tr {
    background-color: aquamarine;
}

#error-msg {
    font-weight: bold;

}

.link {
    text-decoration: none;
    padding: 1em;
    color: #5b21b6;
    font-family: inherit;


}


footer {
    padding: 2rem 1rem;
    text-align: center;
    
}

.icons {
    font-size: small;
    
    }

i{
    transition: all 0.3s linear;
    margin-right:.5em;
   
}



 i:hover {
    transform: scale(1.2);
    

}


.fa-github {
    color: black;

}

.fa-twitter {
    color: rgb(29 161 242);
}

.fa-linkedin {
    color: #0077b5;
}